{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Transactions{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/transactions-list.js' %}"></script>
<script src="{% static 'js/transactions-delete.js' %}"></script>
{% endblock page_js %}

{% block content %}


<!-- Transactions Toast -->
{% if messages %}
<div class="toast-container end-0 m-1 me-4">
  {% for message in messages %}
  <div class="toast {% if message.tags == 'success' %}bg-success{% elif message.tags == 'error' %}bg-danger{% else %}bg-warning{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-bs-delay="2000">
    <div class="toast-body text-center text-white">
      {{ message }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<!--/ Transactions Toast -->


<!-- Transactions Table -->
<!-- permission required: view_transaction -->
{% if perms.transactions.view_transaction %}

<div class="card">
  <div class="card-datatable table-responsive">
    <table class="datatables-transaction table">
      <thead class="table-light">
        <tr class="text-nowrap">
          <th></th>
          {% for field in fields %}
            <th>{{ field.verbose_name }}</th>
          {% endfor %}
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

        {% for record in records %}
        <tr>
          <td></td>
          {% for field_value,field_atrib in record.1 %}
            {% if field_atrib == 'BooleanField' %}
              <td class="text-nowrap text-center">
                <div class="badge bg-label-{% if field_value == True %}success{% else %}warning{% endif %} rounded-pill">
                  {% if field_value == True %}
                    <i class="tf-icons ri-check-fill" title="Verdadeiro"></i>
                  {% else %}
                    <i class="tf-icons ri-close-line" title="Falso"></i>
                  {% endif %}
                </div>
              </td>
            {% elif field_atrib == 'DateField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'TimeField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'DateTimeField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'IntegerField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'BigIntegerField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'AutoField' %}
              <td class="text-nowrap text-center">
                {{ field_value }}
              </td>
            {% elif field_atrib == 'DecimalField' %}
              <td class="text-nowrap text-end">
                {{ field_value }}
              </td>
            {% else %}
              <td class="text-nowrap text-start">
                <p title="{{ field_value }}">{{ field_value }}</p>
              </td>
            {% endif %}
          {% endfor %}
          <td>
            <div class="d-inline-block text-nowrap">
              <!-- permission required: edit_transaction -->
              {% if perms.transactions.edit_transaction %}
              <a href="{% url 'transactions-update' record.0 %}" class="btn btn-sm btn-icon btn-text-secondary rounded-pill waves-effect" title="Editar"><i class='ri-edit-box-line ri-22px'></i></a>
              {% endif %}
              <!-- permission required: delete_transaction -->
              {% if perms.transactions.delete_transaction %}
              <a href="{% url 'transactions-delete' record.0 %}" class="btn btn-sm btn-icon btn-text-secondary rounded-pill waves-effect delete-transaction" data-transaction-username="{{ transaction.customer|capfirst }}" title="Deletar"><i class="ri-delete-bin-7-line ri-22px"></i></a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<!--/ Transactions Table -->
<script>
var addTransactionBtn = '{% if perms.transactions.add_transaction %}' + true + '{% endif %}';
</script>

{% endblock %}
